<!doctype html>
<html ng-app="app">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Form Builder</title>
	<link type="text/css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="~/css/site.css" />
	<link type="text/css" rel="stylesheet" href="~/dist/angular-form-builder.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
	<script type="text/javascript" src="~/dist/angular-form-builder.js"></script>
	<script type="text/javascript" src="~/dist/angular-form-builder-components.js"></script>
	<script type="text/javascript" src="https://kelp404.github.io/angular-validator/dist/angular-validator.min.js"></script>
	<script type="text/javascript" src="https://kelp404.github.io/angular-validator/dist/angular-validator-rules.min.js"></script>
	<script type="text/javascript" src="~/js/demo.js"></script>
</head>

<body class="container">
	@RenderBody()
</body>

</html>