
@{
	ViewData["Title"] = "GetAnswers";
}

<div ng-controller="FormAnswersController">
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th ng-repeat="column in columns">
						{{column.label}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="answer in answers">
					<td ng-repeat="column in answer">
						{{column.value}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>