
@{
    ViewData["Title"] = "Index";
}

<div ng-controller="FormController">

	<div class="row">
		<h2>{{formName}}</h2>
		<hr>
		<form class="form-horizontal">
			<div ng-model="input" fb-form="default" fb-default="defaultValue"></div>
			<div class="form-group">
				<div class="col-md-8 col-md-offset-4">
					<input type="submit" ng-click="submit()" class="btn btn-default" />
				</div>
			</div>
		</form>
	</div>
</div>